<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App | Копирование и восстановление</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <div class="block">
        <h2>База данных</h2>
        <databases-list :databases="databases" @selected="handleSelected"></databases-list>
    </div>

    <div class="block">
        <h1>Копирование и восстановление</h1>

        <div class="section">
            <h2>Настройки копирования</h2>
            <h3>Аргументы</h3>
            <div class="args">
                <label>schema only</label><input type="checkbox" value="-s" v-model="backupArguments">
                <label>format</label><input type="checkbox" v-model="tChecked">
                <select v-if="tChecked" v-model="tArg">
                    <option value="-T c">custom</option>
                    <option value="-T p">plain</option>
                    <option value="-T d">directory</option>
                    <option value="-T t">tar</option>
                </select>
            </div>

            <label for="backupPath">Путь сохранения</label>
            <input v-model="backupPath" id="backupPath" type="text" placeholder="Введите путь сохранения" />

            <button @click="startBackup">Начать копирование</button>
        </div>

        <div class="section">
            <h2>Настройки восстановления</h2>
            <h3>Аргументы</h3>
            <div class="args">
                <label class="arg-label">clean</label><input type="checkbox" value="--clean" v-model="restoreArguments">
                <label class="arg-label">if exists</label><input type="checkbox" value="--if-exists" v-model="restoreArguments">
                <label class="arg-label">data only</label><input type="checkbox" value="--data-only" v-model="restoreArguments" id="fDataOnly">
                <label class="arg-label">schema only</label><input type="checkbox" value="--schema-only" v-model="restoreArguments" id="fSchemaOnly">
            </div>

            <label for="restorePath">Путь к бэкапам</label>
            <input v-model="restorePath" id="restorePath" type="text" placeholder="Путь к бэкапам"/>

            <div v-if="backupList.length > 0">
                <label for="selectedBackup">Выберите бэкап</label>
                <select v-model="selectedBackup" id="selectedBackup">
                    <option v-for="backup in backupList" :key="backup">{{ backup }}</option>
                </select>
            </div>

            <div class="container">
                <button @click="updateBackupList">Обновить список файлов</button>
                <button @click="startRestore">Начать восстановление</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/backup.js"></script>
</html>