<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App | Бэкапы и миграция</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <div class="block">
        <h1>Миграция данных</h1>

        <div class="buttons-container">
            <button @click="startMigration">Начать миграцию</button>
            <button @click="transferDataToSource">Перенести данные в источник</button>
        </div>
    </div>
    <div class="block">
        <h1>Копирование и восстановление</h1>

        <div class="backup-section">
            <h2>Настройки копирования</h2>
            <label for="backupArguments">Аргументы</label>
            <input v-model="backupArguments" id="backupArguments" type="text" placeholder="Введите аргументы" />

            <label for="backupPath">Путь сохранения</label>
            <input v-model="backupPath" id="backupPath" type="text" placeholder="Введите путь сохранения" />

            <button @click="startBackup">Начать копирование</button>
        </div>

        <div class="restore-section">
            <h2>Настройки восстановления</h2>
            <label for="restoreArguments">Аргументы</label>
            <input v-model="restoreArguments" id="restoreArguments" type="text" placeholder="Введите аргументы" />

            <label for="restorePath">Путь к бэкапам</label>
            <input v-model="restorePath" id="restorePath" type="text" placeholder="Введите путь к бэкапам" />

            <label for="selectedBackup">Выберите бэкап</label>
            <select v-model="selectedBackup" id="selectedBackup">
                <option v-for="backup in backupList" :key="backup">{{ backup }}</option>
            </select>
            <div class="buttons-container">
                <button @click="updateBackupList">Обновить список файлов</button>
                <button @click="startRestore">Начать восстановление</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module">
    const axiosInstance = window.axios;

    new Vue({
        el: '#app',
        data() {
            return {
                backupArguments: '',
                backupPath: '',
                restoreArguments: '--clean --if-exists',
                restorePath: '',
                backupList: [],
                selectedBackup: ''
            };
        },
        methods: {
            startMigration() {
                this.sendMigrationRequest('/practiceApp/migration/start', 'Миграция успешно запущена!');
            },
            transferDataToSource() {
                this.sendMigrationRequest('/practiceApp/migration/source/restore', 'Данные успешно перенесены в источник!');
            },
            sendMigrationRequest(apiUrl, successMessage) {
                axiosInstance.get(apiUrl)
                    .then(response => {
                        console.log('Успешный ответ от сервера:', response.data);
                        alert(successMessage);
                    })
                    .catch(error => {
                        console.error('Ошибка при отправке запроса:', error);
                        alert('Произошла ошибка. Пожалуйста, проверьте консоль для дополнительной информации.');
                    });
            },
            startBackup() {
                if (this.backupPath && this.backupArguments) {
                    console.log('Начато копирование с аргументами:', this.backupArguments);
                    console.log('Путь сохранения:', this.backupPath);

                    let dumpData = {
                        path: this.backupPath,
                        dumpFileName: "",
                        args: this.backupArguments
                    }

                    axios.post(`/practiceApp/dump/create`, dumpData);
                } else {
                    alert('Заполните все необходимые поля!');
                }
            },
            updateBackupList() {
                if (this.restorePath) {
                    console.log('Обновлен список бэкапов из пути:', this.restorePath);
                    axios.get(`/practiceApp/dump/backups?path=${encodeURIComponent(this.restorePath)}`)
                      .then(response => {
                        this.backupList = response.data;
                      })
                      .catch(error => {
                        console.error('Ошибка при получении списка бэкапов:', error);
                      });
                } else {
                    alert('Заполните все необходимые поля!');
                }
            },
            startRestore() {
                if (this.restoreArguments && this.selectedBackup) {
                    console.log('Запущено восстановление с аргументами:', this.restoreArguments);
                    console.log('Выбранный бэкап:', this.selectedBackup);

                    let restoreData = {
                        path: this.restorePath,
                        dumpFileName: this.selectedBackup,
                        args: this.restoreArguments
                    }

                    axios.post(`/practiceApp/dump/restore/to`, restoreData);
                } else {
                    alert('Заполните все необходимые поля!');
                }
            }
        }
    });
</script>
</html>