<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App | Настройки</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <div class="block">
        <h1>Настройки</h1>

        <div class="section">
            <h2>Базы данных</h2>
            <div class="table-container">
                <databases-table :databases="databases"></databases-table>
            </div>
            <div class="container">
                <button @click="openAddDialog()">Добавить</button>
                <button @click="updateDatabases()">Обновить</button>
            </div>
            <div class="container">
                <select v-model="selectedDatabase">
                    <option v-for="database in databases" :key="database">{{ database.name }}</option>
                </select>
                <button @click="deleteDatabase()">Удалить</button>
                <button @click="openEditDialog()">Изменить</button>
            </div>

        </div>

        <div class="dialog" v-if="isOpen">
            <img src="img/close.png" class="close-icon" @click="closeDialog()">
            <h3>Информация базы данных</h3>

            <label v-if="isNotEditMode">Название</label><input type="text" v-model="newDatabase.name" v-if="isNotEditMode">
            <label>Хост</label><input type="text" v-model="newDatabase.hostname">
            <label>Порт</label><input type="text" v-model="newDatabase.port">
            <label>Пользователь</label><input type="text" v-model="newDatabase.user">
            <label>Пароль</label><input type="text" v-model="newDatabase.password">

            <button @click="addDatabase()" v-if="isNotEditMode">Добавить</button>
            <button @click="editDatabase()" v-if="!isNotEditMode">Изменить</button>
        </div>
        <div v-if="isOpen" class="overlay"></div>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/settings.js"></script>
</html>