#app {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-size: cover;
}

h1 {
    font-size: 24px;
    margin: 0 0 20px 0;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: normal;
}

label {
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
    color: #585858;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: thin solid black;
}

button {
    padding: 10px 15px;
    background: linear-gradient(to bottom, #3498db, #217dbb);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input, button {
    margin-bottom: 15px;
}

button:hover {
    background: linear-gradient(to bottom, #217dbb, #3498db);
}

.block {
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 350px;
}

.args {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.args input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.args select {
    width: auto;
    padding: 0;
}

.table-container {
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    margin: 16px;
}

thead {
    color: #217dbb;
}

td {
    border: #ddd 1px solid;
    padding: 8px;
    background-color: white;
}

.section {
    background-color: #f9f9f9;
    padding: 20px;
    border: thin solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.section:nth-last-child(1) {
    margin: 0;
}

.container {
    padding: 5px;
    margin: 5px;
    border: thin solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container button {
    margin: 10px;
}

.databases-list {
    width: 100%;
}

option {
    text-align: center;
}

option:checked {
    color: #00ad15;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 80%;
    overflow-y: auto;
    max-height: 80%;
    z-index: 11;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.db-disconnected td {
    color: #ce3a5a;
}